<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listado de usuarios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Listado de usuarios</ion-title>
    </ion-toolbar>
  </ion-header>

  
  
        
    <ion-list>
      <ion-list-header>
        Usuarios
      </ion-list-header>
      
      <ion-item *ngFor="let user of this.globals.users"> 
        
          <ion-icon slot="start" name="sparkles-outline"></ion-icon>
          <ion-label>
            {{user.name}}
          </ion-label>
        
        
      </ion-item>
    </ion-list>
    <ion-button expand="block" (click)="showUsers()">Mostrar usuarios</ion-button>
</ion-content>
