<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listado de usuarios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Listado de usuarios</ion-title>
    </ion-toolbar>
  </ion-header>
       
    <ion-list>
           
      <ion-item *ngFor="let user of UsersList"> 
        <div class="userCard">
           <b><ion-label color="dark">
            {{user.name}}
          </ion-label></b><br>
          <ion-label class="ion-text-wrap" color="secondary">{{user.description}}</ion-label>
          <ion-button shape="round" (click)="userQuickView(user)">VIEW MORE</ion-button>
        
        </div>
      </ion-item>
    
    </ion-list>
    
</ion-content>
