<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Agregar usuario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Agregar usuario</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-item>
    <ion-label>Name</ion-label>
    <ion-input [(ngModel)]="txtName" placeholder="Enter User name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Genre</ion-label>
    <ion-select [(ngModel)]="lstGender" interface="popover" value="Male">
      <ion-select-option value="Male">Male</ion-select-option>
      <ion-select-option value="Female">Female</ion-select-option>
      <ion-select-option value="Other">Other</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Description</ion-label>
    <ion-textarea [(ngModel)]="txtDescription" rows="6" cols="20" placeholder="Type here"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label>URL Image</ion-label>
    <ion-input inputmode="url" [(ngModel)]="txtImageURL" placeholder="Enter URL"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="addUser()">Agregar Usuario</ion-button>
</ion-content>
